cnb@php-share-note-dep-6b4fc8766b-xj6mw:/workspace/source/public$ whoami cnb cnb@php-share-note-dep-6b4fc8766b-xj6mw:/workspace/source/public$ ls -la total 14 drwxrwxrwx 5 root root 67 Feb 17 16:33 . drwxrwxr-x 10 cnb cnb 4096 Jan 1 1980 .. drwxrwx--- 2 cnb cnb 0 Feb 17 16:33 css drwxrwx--- 2 cnb cnb 0 Feb 17 16:33 files drwxrwx--- 2 cnb cnb 0 Feb 9 19:30 notes cnb@php-share-note-dep-6b4fc8766b-xj6mw:/workspace/source/public$ cd css bash: cd: css: Permission denied
